<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jx.todo.alfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0A7BAD97-CA45-4F65-8271-154593224383</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E9D771C-094D-4EEC-9C62-824E3470771A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0F851203-1D83-4539-98C5-0C5C6EDE909F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E9D771C-094D-4EEC-9C62-824E3470771A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>12820F54-3EBD-44FE-A631-C84F1A0CE686</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B91B3E88-6CFB-4772-B824-7213C675BC1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>19D810E9-46EE-4823-89F9-6758A65D8517</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1B49AF3-BE4D-4856-9296-ACF096573A11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3FCAD5EF-E91B-4F89-8E44-7C7099517966</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E9D771C-094D-4EEC-9C62-824E3470771A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>54C545E9-CBB8-428B-A4D6-CCE96501C935</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E9D771C-094D-4EEC-9C62-824E3470771A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Display with built-in mode.</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A6B13A3B-EA09-4D2F-888E-B11EE4363AEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6125CE54-D132-43CC-BDE1-96B7959F1F1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF4D1343-958B-4F98-803B-15364D98B1F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6E64E88A-626E-4D68-A886-20F93EE12381</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E9D771C-094D-4EEC-9C62-824E3470771A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8B634DB3-6AB7-49CB-8B2F-5479DAAB6869</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E9D771C-094D-4EEC-9C62-824E3470771A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AF4D1343-958B-4F98-803B-15364D98B1F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E64E88A-626E-4D68-A886-20F93EE12381</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B74E9D94-1116-4290-B7EB-2CFEE2FC25B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A7BAD97-CA45-4F65-8271-154593224383</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B927BF9F-DC82-4DFC-99DE-DCF11CA5F984</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Deprioritize this task!</string>
			</dict>
		</array>
		<key>B91B3E88-6CFB-4772-B824-7213C675BC1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FCAD5EF-E91B-4F89-8E44-7C7099517966</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B927BF9F-DC82-4DFC-99DE-DCF11CA5F984</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E9D771C-094D-4EEC-9C62-824E3470771A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E646B033-15DD-4B45-9D51-061A03816725</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E9D771C-094D-4EEC-9C62-824E3470771A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EBD226C2-1E22-4F65-BD43-556E6EF3C463</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E9D771C-094D-4EEC-9C62-824E3470771A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EFABF65B-E345-4CF6-8F80-8467B00E89B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54C545E9-CBB8-428B-A4D6-CCE96501C935</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F1B49AF3-BE4D-4856-9296-ACF096573A11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7357D5A3-A3F7-43DD-9900-F7A3CA237CE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F2DC8DA1-0861-4BBE-8285-F8620FCC77A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B634DB3-6AB7-49CB-8B2F-5479DAAB6869</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F40E758B-C330-4690-879C-D78CF6F959C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B74E9D94-1116-4290-B7EB-2CFEE2FC25B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F9C7A5B7-50E2-425D-A002-9D16E258ADFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F851203-1D83-4539-98C5-0C5C6EDE909F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JinXi</string>
	<key>description</key>
	<string>Todo.txt based displayed with GeekTool</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Todo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>todo</string>
				<key>subtext</key>
				<string>add [ ]{query} to do</string>
				<key>text</key>
				<string>add a THING into todo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AF4D1343-958B-4F98-803B-15364D98B1F9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>task_to_add=`echo '{query}' | sed s/'('/'\\('/ | sed s/')'/'\\)'/`
todo/todo.sh add $task_to_add
echo ''</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6E64E88A-626E-4D68-A886-20F93EE12381</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6125CE54-D132-43CC-BDE1-96B7959F1F1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>done</string>
				<key>subtext</key>
				<string>[X] No.{query} thing</string>
				<key>text</key>
				<string>Done a THING into todo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B91B3E88-6CFB-4772-B824-7213C675BC1B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>todo/todo.sh -f -n do {query}
echo ''</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FCAD5EF-E91B-4F89-8E44-7C7099517966</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>12820F54-3EBD-44FE-A631-C84F1A0CE686</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>todo/todo.sh -f -n del {query}
echo ''</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F851203-1D83-4539-98C5-0C5C6EDE909F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>todel</string>
				<key>subtext</key>
				<string>Delete No.{query} thing without comfirmation</string>
				<key>text</key>
				<string>Delete a THING in todo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F9C7A5B7-50E2-425D-A002-9D16E258ADFF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tols</string>
				<key>subtext</key>
				<string>tols to Display list '{query}'</string>
				<key>text</key>
				<string>List {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EBD226C2-1E22-4F65-BD43-556E6EF3C463</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E646B033-15DD-4B45-9D51-061A03816725</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>todo/todo.sh -P ls "{query}" &gt; /tmp/display.txt

osascript -e 'tell application "GeekTool Helper"
		refresh shell geeklet "display"
	end tell'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>0E9D771C-094D-4EEC-9C62-824E3470771A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tolsc</string>
				<key>script</key>
				<string>python display.py "{query}" c</string>
				<key>subtext</key>
				<string>tolsc to dispaly Context</string>
				<key>title</key>
				<string>Context {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8B634DB3-6AB7-49CB-8B2F-5479DAAB6869</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F2DC8DA1-0861-4BBE-8285-F8620FCC77A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>tolsprj</string>
				<key>script</key>
				<string>python display.py "{query}" prj</string>
				<key>subtext</key>
				<string>tolsprj to display Project</string>
				<key>title</key>
				<string>Project {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>54C545E9-CBB8-428B-A4D6-CCE96501C935</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EFABF65B-E345-4CF6-8F80-8467B00E89B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>todo/todo.sh -P projectview "{query}" &gt; /tmp/display.txt

osascript -e 'tell application "GeekTool Helper"
		refresh shell geeklet "display"
	end tell'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>A6B13A3B-EA09-4D2F-888E-B11EE4363AEF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python prioritize.py "{query}" prioritize</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A7BAD97-CA45-4F65-8271-154593224383</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F40E758B-C330-4690-879C-D78CF6F959C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>topri</string>
				<key>script</key>
				<string>python prioritize.py "{query}" display</string>
				<key>title</key>
				<string>Prioritize</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B74E9D94-1116-4290-B7EB-2CFEE2FC25B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python prioritize.py "{query}" deprioritize</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B927BF9F-DC82-4DFC-99DE-DCF11CA5F984</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>
tell application "System Events"
	tell property list file ((do shell script "pwd") &amp; "/" &amp; "info.plist")
		set _bundle to value of property list item "bundleid" as text
	end tell
end tell

set _path to (do shell script "printf $HOME") &amp; "/Library/Application Support/Alfred 2/Workflow Data/" &amp; ( _bundle) &amp; "/todo.txt"

set _todo to POSIX file _path as string
tell application "Finder"
	if exists file _todo then
		open file _todo
	end if
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7357D5A3-A3F7-43DD-9900-F7A3CA237CE7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>19D810E9-46EE-4823-89F9-6758A65D8517</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>toedit</string>
				<key>text</key>
				<string>Edit todo.txt in a TextEditor</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F1B49AF3-BE4D-4856-9296-ACF096573A11</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A7BAD97-CA45-4F65-8271-154593224383</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>0E9D771C-094D-4EEC-9C62-824E3470771A</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>0F851203-1D83-4539-98C5-0C5C6EDE909F</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>12820F54-3EBD-44FE-A631-C84F1A0CE686</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>19D810E9-46EE-4823-89F9-6758A65D8517</key>
		<dict>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>3FCAD5EF-E91B-4F89-8E44-7C7099517966</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>54C545E9-CBB8-428B-A4D6-CCE96501C935</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>6125CE54-D132-43CC-BDE1-96B7959F1F1B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6E64E88A-626E-4D68-A886-20F93EE12381</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7357D5A3-A3F7-43DD-9900-F7A3CA237CE7</key>
		<dict>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>8B634DB3-6AB7-49CB-8B2F-5479DAAB6869</key>
		<dict>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>A6B13A3B-EA09-4D2F-888E-B11EE4363AEF</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>AF4D1343-958B-4F98-803B-15364D98B1F9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B74E9D94-1116-4290-B7EB-2CFEE2FC25B0</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>B91B3E88-6CFB-4772-B824-7213C675BC1B</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>B927BF9F-DC82-4DFC-99DE-DCF11CA5F984</key>
		<dict>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>E646B033-15DD-4B45-9D51-061A03816725</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>EBD226C2-1E22-4F65-BD43-556E6EF3C463</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>EFABF65B-E345-4CF6-8F80-8467B00E89B6</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>F1B49AF3-BE4D-4856-9296-ACF096573A11</key>
		<dict>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>F2DC8DA1-0861-4BBE-8285-F8620FCC77A7</key>
		<dict>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>F40E758B-C330-4690-879C-D78CF6F959C7</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>F9C7A5B7-50E2-425D-A002-9D16E258ADFF</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>fatestigma.github.io</string>
</dict>
</plist>
